.filters-fileds {
  display: flex;
  align-items: center;
  justify-content: center;
  /* color: #fff; */
}

.inputs-fileds {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    /* color: #fff; */
  }

.search-button {
  background-color: #1F2833;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  /* margin: 1px solid rgb(54, 215, 183); */
  padding: 8px 10px 10px 10px;
  /* margin-top: 40px; */
  margin: 40px 0;
  width: 200px;
  align-self: center;
}

.search-button:hover {
  background-color: rgb(191, 85, 236);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  transition: all 0.2s ease-out;
  margin: 1px solid rgb(54, 215, 183);
  cursor: pointer;
}

.categories-select {
  /* color: #fff; */
  margin-right: 30px !important;  
}
