/* =============
   Job Card
   ============= */
   .job-container {
    border: 1px solid black;
    border-radius: 20px;
    padding: 2px;
    margin-left: 100px;
    margin-bottom: 5px;
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 500px;
    height: 120px;
  }
   
  
  
  .job-title {
    font-size: 0.9em;
    padding-bottom: 5px;
    font-weight: 800;
  }  
  
  .job-description {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: 0.0625rem solid #d4d2d0;
    border-radius: 0.5rem;
    background-color: #fff;
    width: 500px;
    height: 700px;
    top: 660px;
    left: 54%;
    padding: 10px;
    line-height: 1.8;
    z-index: 1;
    
  }
  
  .job-description p{
     font-size: 0.7em;
     padding: 10px;
  }
  
  .description-text{
    padding: 10px;
    overflow-y: scroll;
  }
  
  .details{
    display: flex;
    
  }
  
  .details p {
    padding-left: 5px;
  }
  
  .fixed-title {
    position: sticky;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .close-btn {
   display: flex;
   justify-content: flex-end;
   margin-top: -5px;
   cursor: pointer;
  }

  .heart-apply-container{
    display: flex;
    
  }
  
  .heart-apply-container a {
    padding-right: 10px;
  }
  
  .logo-details {
    display: flex;
    padding-bottom: 5px;
    
  }
  
  .logo-details img{
    padding-right: 5px;
  }
  
  .job-company {
    font-size: 15px;
  }
  
  .job-logo {
    width: 100px;
    padding-right: 5px;
  }
  
  .job-location {
    font-size: 0.6em;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .job-type {
    font-size: 14px;
  }
  
  .job-date {
    font-size: 10px;
  }
  
  .seeFullJob {
    font-size: 13px;
  }
  
  .seeFullJob:hover {
    text-decoration: underline;
    cursor: pointer;
    color: blue;
  }
  .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
    
    
  }

  .job-logo2{
    width: 100px;
    height: 80px;
    margin-top: -20px;

}
  /* little heart */
  
  .not-favorite {
    width: 40px;
    height: 40px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/4/4f/Ei-heart.svg");
    background-size: 100%;
    
  }
  
  .favorite {
    width: 40px;
    height: 40px;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/3/35/Emoji_u2665.svg ");
    background-size: 100%;
    
  
  }

  .search-button-job-card {
    background-color: #1F2833;
    color: rgb(255, 255, 255);
    border-radius: 4px;
    margin: 1px solid rgb(54, 215, 183);
    padding: 8px 10px 10px 10px;
    text-decoration: none;
    height: 40px;
    font-size: 18px;
 
  }
  
  .search-button-job-card:hover {
    background-color: rgb(191, 85, 236);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    transition: all 0.2s ease-out;
    margin: 1px solid rgb(54, 215, 183);
    cursor: pointer;
  }

  .apply-button{
    background-color: #1F2833;
  color: rgb(255, 255, 255);
  border-radius: 4px;
  /* margin: 1px solid rgb(54, 215, 183); */
  padding: 8px 10px 10px 10px;
  margin-top: 40px;
  align-self: center;
}

.apply-button:hover {
  background-color: rgb(191, 85, 236);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  transition: all 0.2s ease-out;
  margin: 1px solid rgb(54, 215, 183);
  cursor: pointer;
}

  @media (min-width: 1281px) {
    .job-description {
        width: 700px;
        top: auto;
        margin-left: -250px;
   
        
    } 

    .job-container {
      margin-left: 50px;
      height: 150px;
    }

  
}

  
  @media (min-width: 1025px) and (max-width: 1280px) {
    .job-description {
        width: auto;
        margin-left: -50px;
        /* top: 610px; */
        position: absolute;
        margin-top: -7%;
        margin-right: 5%;
        
        
    }

    .job-container {
      margin: 10px;
      width: auto;
      height: auto;
    }

    .fixed-title {
     height: 50px;
     
    }

    .job-title {
      font-size: 13px;
    }
    
    .job-company {
      font-size: 10px;
    }
    .details {
      font-size: 15px;
      padding: 0;
      margin-top: -15px;
    }
  }
    
 

  @media (min-width: 960px) and (max-width: 1024px) {
   
    .job-container {
      margin: 5px;
      width: auto;

  }

    .job-description {
      width: 450px;
      margin-left: -5px;
      margin-top: 25px;
      margin-right: 20px;

    }


    .job-title {
      font-size: 13px;
    }
    
    .job-company {
      font-size: 10px;
    }
  }

  @media (min-width: 767px) and (max-width: 959px) and (orientation: landscape) {
    .job-description {
      width: 750px;
      margin-left: -405px;
      height: 750px;
      top: 605px;
    }

    .job-container {
      align-self: center;
      
    }
    
    
  }

  @media (min-width: 481px) and (max-width: 767px){
    .job-description {
      width: auto;
      margin-left: -51%;
      margin-right: 2%;
      height: 750px;
      top: 605px;
    }

    .job-container {
      align-self: center;
      width: auto;
      margin: 5%;
      
    }
  }

  @media (min-width: 320px) and (max-width: 480px){
    .job-description {
      width: auto;
      margin-left: -51%;
      margin-right: 2%;
      height: 750px;
      top: 605px;
    }

    .job-container {
      align-self: center;
      width: auto;
      margin: 5%;
      
    }
  }
  