/* //JobList */
.list-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: -100px;
}

.scrollList {
    border: 1px solid black;
    width: auto;
    height: 700px;
    background-color: white;
    border: 0.0625rem solid #d4d2d0;
    border-radius: 0.5rem;
    background-color: #fff;
    padding-top: 5px;
}

.result-number-hide {
    display: none;
}

.result-number-show {
    display: block;
    color: black;
    font-size: 1rem;
    padding-bottom: 5px;
    margin: 10px 0;
    /* margin-left: 20%; */
}

/* Designing for scroll-bar */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    background: gainsboro;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* .MuiBox-root MuiBox-root-15 {
    height: 50vh;
} */

ul {
    position: relative;
}

.job-results {
    display: flex;
    justify-content: space-around;    
    flex-wrap: wrap;
    margin-bottom: 50px;
    /* margin: 0 5%; */
}

.joblist-container {
    /* flex: 1; */
    width: 40%;
    /* padding: 0 100px; */
    /* margin-bottom: 20px; */
}


/* This is the pagination div on browse all and saved. Couldn't target it in a different way */
#simple-tabpanel-0 > div > p > div > div.joblist-container > nav > ul, 
#simple-tabpanel-1 > div > p > div > div.job-results > div.joblist-container > nav > ul {
    margin: 20px 0;
}


.map {
    /* flex: 1; */
    /* width: 500px; */
    width: 40%;
    height: 500px;
    /* margin-top: 20px; */
    margin: auto 0; 
    /* padding: 0 100px;   */
}
.no-map {
    display: none
}


@media screen and (max-width: 1200px) {
    .joblist-container {
        width: 460px;
    }
    
}

@media screen and (max-width: 960px) {
    .job-results {
        flex-direction: column;
        align-items: center;
    }    

    .joblist-container {
        width: 70%;
    }

    .map {
        width: 70%;
    }
}

@media screen and (max-width: 600px) {
    
    .joblist-container {
        width: 90%;
    }

    .map {
        width: 90%;
        height: 400px;
    }
}

@media screen and (max-width: 500px) {
    .map {        
        height: 300px;
        margin-bottom: 50px;
    }
  }


/* 
@media (min-width: 1281px) {
    .list-container {
        margin-left: -50px;
    }
    .scrollList {
        width: 600px;
    }

    .map {        
        margin: auto 0;   
    }
}

@media (min-width: 1025px) and (max-width: 1280px) {
    .scrollList {
        width: 500px;
        padding-top: 10px;
    }
    .list-container {
        width: auto;
        margin-left: -5px;
    }
} */

/* 
    ##Device = Tablets, Ipads (portrait)
    ##Screen = B/w 768px to 1024px
  */

/* @media (min-width: 960px) and (max-width: 1024px) {
    .list-container {
        
        margin-left: 0px;
    }
    .scrollList {
        width: 450px;
    }
}

@media (min-width: 767px) and (max-width: 959px) and (orientation: landscape) {
    .list-container {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: -40px;
    }
    .scrollList {
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .list-container {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: -50px;
    }
    .scrollList {
        width: 100%;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .list-container {
        margin-left: 5%;
        margin-right: 1%;
        margin-top: -50px;
    }
    .scrollList {
        width: 100%;
    }
}
 */


