/* =============
   Global styles
   ============= */

* {   
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
 
    /* Primary Colour */
    /* --dark-violet: hsl(256, 26%, 20%);  */   
    --text-colour: #fff;

    /* Secundary Colour */
    --secundary-colour: rgb(191, 85, 236);
    --background-colour: #1F2833;

} 

hr {
    width: 80%;
    border: 0;
    height: 2px;   
    background-image: linear-gradient(to right, rgb(54, 167, 44), rgb(172, 31, 31),rgb(49, 39, 139))
    /* background-image: linear-gradient(to right, #22f0b2, rgb(191, 85, 236), rgb(110, 94, 254)) */
}

footer {
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;
   background-color: var(--background-colour);
   width: 100vw;
   height: 100%; 
   /* margin-top: 80px;   */
}

/* .made-with-love {
    color: #fff;
    margin: 20px 0;
    margin-top: 40px;
}

.heart {    
    color: red;    
} */

.footer-top {
   text-align: center;
   width: 90%;
   border-bottom: 2px solid var(--text-colour);
   padding: 30px;
}

.footer-content {    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
    /* height: 100%;     */
    /* margin: 50px 0; */
}

.footer-content ul {
   
   display: flex;
   flex-direction: column;
   justify-content: center;
   flex-wrap: wrap;
   /* align-items: center; */
   list-style: none;
   text-align: left;
   margin: 10px 50px;    
   /* margin: 10px;     */
   width: 200px;
   height: 250px; 
}

.footer-content ul li {
   color: var(--text-colour);
   font-size: 1rem;
   font-weight: 400;
   letter-spacing: 1px;
   /* text-transform: uppercase; */
   padding: 6px;
}

.footer-content ul li:first-child {
   color: var(--text-colour);
   font-size: 1.2rem;
   font-weight: 700;
   letter-spacing: 1px;
   /* text-transform: uppercase; */
   padding: 6px;
   margin-bottom: 10px;
}

.footer-content ul li a {
   text-align: left;
   text-decoration: none;
   color: var(--text-colour);   
}

.footer-content ul li a:hover {
   color: var(--secundary-colour);
   text-decoration: underline;
   /* transform: scale(1.1); */
}

.copyright--container {
   margin: 55px 0;
   color: var(--text-colour);
}




/* =============
   Components
   ============= */


.social-media {   
   display: flex;
   flex-direction: column;
   justify-content: center;
   list-style: none;
   align-items: center;  
}


@media (max-width: 768px) {
   footer {      
      justify-content: center;
   }
  }
  
  /* Mobile design */
@media (max-width: 480px) {
   footer {
      margin-top: 50px;
      height: 100%;       
   }  

   #footer > div.footer-content > ul:nth-child(4){
      margin-bottom: 50px;
   }
}


